@charset "utf-8";

/* ///////////////////////////////////////////////////////////////////////
::: [ 리스트(list.skin.php) ]:::
/////////////////////////////////////////////////////////////////////// */

/* 리스트 박스 */
#nbl {padding:0px;margin:0px;}
#nbl:after {display:block;visibility:hidden;clear:both;content:""}

#nbl section {display:block;width:100%;}


/* 각 부분 간격 */
#sel_cate {margin-bottom:5px;padding:0px 0px;}
#sel_info {margin-bottom:0px;padding:5px 0px;}
#sel_list {margin-bottom:0px;padding:0px 0px;}

#sec_page {margin-bottom:0px;padding:20px 0px 10px 0px;}


/* 카테고리 */
#sel_cate {position:relative;}
#sel_cate:after {display:block;visibility:hidden;clear:both;content:""}
#sel_cate h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sel_cate ul {zoom:1}
#sel_cate li {display:inline-block;padding-right:5px;font-size:12px}
#sel_cate a {display:block;line-height:22px;padding:0px 10px;color:#808080;background:#F7F7F7;}
#sel_cate a:hover {text-decoration:none;background:#B5B5B5;color:#FFFFFF}
#sel_cate #bo_cate_on {z-index:2;background:#5F5F5F;color:#FFFFFF;font-weight:normal;}


/* info, 관리자 버튼 */
#sel_info {position:relative;}
#sel_info:after {display:block;visibility:hidden;clear:both;content:""}

#info_total {position:absolute;left:0px;bottom:5px;font-size:12px;color:#808080;}
#info_total span {margin:0 2px;font-weight:bold;color:#202020;}

#sel_info ul {float:right;list-style:none;}
#sel_info li {float:left;font-size:13px}

.lbtn_admin {display:block;text-align:center;background:#DC777B;color:#FFFFFF;border:0;width:22px;line-height:22px;border-radius:50%}
.lbtn_admin:hover {background:#CE2D33;}

.lbtn_sub {display:block;text-align:center;margin-left:5px;background:#82DA9C;color:#FFFFFF;border:0;width:22px;line-height:22px;border-radius:50%}
.lbtn_sub:hover {background:#22B14C;}



/* 리스트 테이블 */
#sel_list table {width:100%;padding:0px;border-collapse:collapse;} 
#sel_list caption {display:none;padding:0;font-size:0;line-height:0;}

/* 테이블 head */
#sel_list thead tr {height:30px;border-bottom:1px solid #E7EAEB;}
#sel_list th {padding:0px;font-weight:normal;text-align:center;font-size:12px;color:#202020;}
#sel_list th a {color:#202020}
#sel_list th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */

#thead_line {width:100%;padding:0;margin-left:1px;border-right:1px solid #E8E8E8;}


/* 테이블 body */
#sel_list tbody tr {height:35px;border-top:1px solid #ECF0F1}
#sel_list td {padding:0px;font-size:12px;color:#A6A6A6;word-break:break-all;}

#sel_list tbody tr:hover {background:#F9F9F9}
#sel_list a:hover {text-decoration:none;color:#007FAE}

#sel_list .td_chk {width:30px;text-align:center;}
#sel_list .td_num {width:50px;text-align:center}
#sel_list .td_subject {text-align:left}
#sel_list .td_name {width:80px;text-align:left}
#sel_list .td_hit {width:50px;text-align:center}
#sel_list .td_vote {width:40px;text-align:center}
#sel_list .td_date {width:60px;text-align:center}


/* 공지 */
.list_notice {background:#F9F9F9 !important;border-bottom:1px solid #E7EAEB}
.list_notice a {font-weight:bold}


/* 넘버 */
.num_notice {display:inline-block;color:#1AAFC4;}
.num_current {display:inline-block;color:#E00C2C;}


/* 제목 */
#subject_wrap {font-size:13px;color:#202020;}
#subject_wrap img {margin-right:2px;vertical-align:middle}

.lsub_cate a {display:inline-block;color:#1AAFC4;font-weight:normal !important;font-size:12px;vertical-align:middle}
.lsub_cate a:hover {text-decoration:none;color:#065C68}

.lsub_title {vertical-align:middle}
.fa-lock {display:inline-block;width:14px;line-height:16px;font-size:12px;color:#0C2836;text-align:center;vertical-align:middle}
.lsub_cmt {color:#E00C2C;font-size:11px;font-weight:bold;vertical-align:middle;}


/* 이름 */
#sel_list .td_name {font-size:12px;color:#202020;padding-left:5px}
.td_name img {margin-bottom:3px;width:20px;height:20px;border-radius:50%;}
.td_name a {line-height:35px;}



/* 검색 */
#lsch_wrap {display:inline-block; margin:0px}
#lsch_wrap select {float:left;height:25px;width:110px;margin-right:2px;background:#FFFFFF;color:#202020;border:1px solid #D9D9D9}
#lsch_wrap input {float:left;height:25px;width:120px;padding:0px 5px;background:#F9F9F9;color:#202020;border:1px solid #D9D9D9}
#lsch_wrap button {float:left;height:25px;width:30px;background:#5F5F5F;color:#FFFFFF;border:1px solid #5F5F5F;}